# .env.example 部署后改名为：.env
# 数据库服务器IP
ZC_MYSQL_SERVER=192.168.1.1
# 数据库用户名
ZC_MYSQL_USERNAME=root
# 数据库密码
ZC_MYSQL_PASSWORD=123456
# 数据库名称
ZC_MYSQL_NAME=aivideo
# 数据库端口
ZC_MYSQL_PORT=3306
# N8N访问链接
N8N_URL=http://192.168.1.1:5678
# 本项目访问链接
AIBOOKVIDEO_URL=http://192.168.1.1:5800
# ComfyUI访问链接
COMFYUI_URL=http://192.168.1.1:8000
# COMFYUI_URL_WAN WAN模型访问链接（如果只部署1个comfyui，则COMFYUI_URL_WAN和COMFYUI_URL保持一致）
COMFYUI_URL_WAN=http://192.168.1.1:8000
# COMFYUI_URL_PATH ComfyUI输出路径（如果COMFYUI_URL和COMFYUI_URL_WAN相同，则填 ../output）
COMFYUI_URL_PATH=../output
# Index-TTS访问链接
INDEXTTS_URL=http://192.168.1.1:7860

# 邮件服务器配置
# SMTP服务器地址
SMTP_SERVER=smtp.example.com
# SMTP服务器端口
SMTP_PORT=587
# 发送邮件的邮箱地址
SMTP_SENDER=your_email@example.com
# 发送邮件的邮箱密码或授权码
SMTP_PASSWORD=your_password_or_auth_code

