__pycache__/
*.pyc
*.pyo
*.pyd
*.so
dist/
build/
*.egg-info/
*.log
*.sqlite
*.idea
*.vscode
*.iml
.venv/
.env
static/ffmpeg/
static/video/
static/uploads/avatars/
static/uploads/videomerge/
static/uploads/voicemerge/
uv.lock